<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <h1>{{title}}</h1>
      </div>
   </div>

   <div class="row">
      <ul class="nav nav-pills">
         <li role="presentation">
            <a [routerLink]="['/heroes']" routerLinkActive="active">Heroes</a>
         </li>
         <li role="presentation">
            <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
         </li>
      </ul>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <router-outlet></router-outlet>
      </div>
   </div>
</div>
