$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$selected-bg-color: #CFD8DC !important;
@import 'variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h2.hero-heading {
  color: #444;
  font-weight: lighter;
  margin-top: 10px;
}

h1 {
  color: #369;
}

body {
  margin: 2em;
}
